In [1]:
import numpy as np
import pandas as pd
from transformers import AutoTokenizer
from tqdm.auto import tqdm
tqdm.pandas()
pd.set_option('display.max_columns', None)

# os.environ["CUDA_VISIBLE_DEVICES"] = "0"
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_parquet('../data/parquet/dataset.parquet')
df.head()

                                                text target
0                             City: Lecco. No trips.   walk
1  City: Lecco. Trips: (Time: 233. Vehicle: walk....   walk
2  City: Lecco. Trips: (Time: 141. Vehicle: walk....   walk
3  City: Lecco. Trips: (Time: 402. Vehicle: walk....   walk
4  City: Lecco. Trips: (Time: 838. Vehicle: walk....   walk

In [3]:
tokenizer_t5 = AutoTokenizer.from_pretrained('t5-base', use_fast=True, cache_dir="/mnt/dmif-nas/SMDC/HF-Cache/")
#tokenizer_bert = AutoTokenizer.from_pretrained('bert-base-uncased', use_fast=True, cache_dir="/mnt/dmif-nas/SMDC/HF-Cache/")
#tokenizer_gpt = AutoTokenizer.from_pretrained('gpt2', use_fast=True, cache_dir="/mnt/dmif-nas/SMDC/HF-Cache/")

In [4]:
def get_num_tokens(x, tokenizer):
    x = x['text']
    x = len(tokenizer.tokenize(x))
    return x

df['tokens_t5'] = df.progress_apply(lambda x: get_num_tokens(x, tokenizer=tokenizer_t5), axis=1)
print(f"max number of tokens for T5 is {np.max(df['tokens_t5'])}/512")
#df['tokens_bert'] = df.progress_apply(lambda x: get_num_tokens(x, tokenizer=tokenizer_bert), axis=1)
#print(f"max number of tokens for BERT is {np.max(df['tokens_bert'])}")
#df['tokens_gpt2'] = df.progress_apply(lambda x: get_num_tokens(x, tokenizer=tokenizer_gpt), axis=1)
#print(f"max number of tokens for GPT2 is {np.max(df['tokens_gpt2'])}")

  0%|          | 0/54948 [00:00<?, ?it/s]

max number of tokens for T5 is 490/512

In [5]:
df.sample(10)

                                                    text target  tokens_t5
20025  City: Ferrara. Trips: (Time: 52180. Vehicle: b...   bike        461
49760  City: Lecco. Trips: (Time: 12899. Vehicle: bus...    bus        473
47090  City: Lecco. Trips: (Time: 30603. Vehicle: wal...   walk        455
35772  City: Lecco. Trips: (Time: 14794. Vehicle: wal...   walk        467
27034  City: Lecco. Trips: (Time: 32251. Vehicle: bik...    bus        456
231    City: Ferrara. Trips: (Time: 50360. Vehicle: b...   bike        457
28326  City: Ferrara. Trips: (Time: 54150. Vehicle: b...   bike        461
42554  City: Ferrara. Trips: (Time: 49736. Vehicle: b...   bike        456
7028   City: Ferrara. Trips: (Time: 46242. Vehicle: b...   bike        455
21363  City: Ferrara. Trips: (Time: 55956. Vehicle: b...    bus        472